body {
    width: 90%;
    background-color: black;
    font: normal;
    color:antiquewhite;
    margin: 20px auto 0 auto;
}

.page {
    width: 80%;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 1px;
    box-sizing: border-box;
    border: #a7c1ff solid 2px;
    color: black;
    
}




.registration input.active {
	border-color: rgb(56, 112, 216);
    background-color:#a7c1ff;
    color: #333;
    
}

.content {
    padding: 20px;
}
H1 {
    padding: 20px;
}

.output {
    padding: 20px;
    color: blue;
    font-size: larger;
    
}